#
# Logging
#

LOG_LEVEL=info
# Set this to `true` to have Flipbook print log messages to the Output window.
# By default logs will only show up in the Help > Logs view
ENABLE_OUTPUT_LOGGING=false

#
# Backend
#

BASE_URL=https://apis.flipbooklabs.com

#
# Open Cloud
#

ROBLOX_API_KEY=
ROBLOX_UNIT_TESTING_PLACE_ID=123506190725771
ROBLOX_UNIT_TESTING_UNIVERSE_ID=6599100156
LOG_LEVEL=info
