# Environment variables
.env

# Darklua
build

# Rojo
/*.rbxl*
/*.rbxm*
/temp-*.project.json

# Luau
sourcemap.json
sourcemap-darklua.json
globalTypes.d.luau

# Third-party libraries
*Packages

# Python
__pycache__

# Other
/*.log
__pycache__
