# Environment variables
.env

# Build artifacts
build
temp

# Rojo
/*.rbxl*
/*.rbxm*

# Luau
sourcemap*.json
globalTypes.d.luau

# Third-party libraries
*Packages

# Python
__pycache__

# Other
/*.log
__pycache__
