/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	/* Hue and saturation components. Lightness is handled per-color */
	--color-primary: 271, 70%;
	--color-primary-lightness: 50%;

	--ifm-color-primary: hsl(var(--color-primary), var(--color-primary-lightness));
	--ifm-color-primary-dark: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 2));
	--ifm-color-primary-darker: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 4));
	--ifm-color-primary-darkest: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 8));
	--ifm-color-primary-light: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 2));
	--ifm-color-primary-lighter: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 4));
	--ifm-color-primary-lightest: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 8));
	--ifm-code-font-size: 95%;

	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--color-primary-lightness: 70%;

	--ifm-color-primary: hsl(var(--color-primary), var(--color-primary-lightness));
	--ifm-color-primary-dark: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 2));
	--ifm-color-primary-darker: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 4));
	--ifm-color-primary-darkest: hsl(var(--color-primary), calc(var(--color-primary-lightness) - 8));
	--ifm-color-primary-light: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 2));
	--ifm-color-primary-lighter: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 4));
	--ifm-color-primary-lightest: hsl(var(--color-primary), calc(var(--color-primary-lightness) + 8));
	--docusaurus-highlighted-code-line-bg: # rgba(0, 0, 0, 0.3);
}

code {
	tab-size: 4;
}
