name: Release

on:
  release:
    types: [published]

env:
  OUTPUT_NAME: "PACKAGE_NAME.rbxm"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install toolchain
        uses: Roblox/setup-foreman@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove spec files
        run: rm -rf **/*.spec.lua

      - name: Build
        run: rojo build -o ${{ env.OUTPUT_NAME }}

      - name: Add model file to release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.OUTPUT_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
