name: Upgrade Roblox Packages

on:
  workflow_dispatch:
  schedule:
    # Scheduled to run every week around when Roblox releases new versions of
    # Studio. Usually midday (PST) on Wednesdays. We start this job at 1 PM PST
    # to give some buffer room
    - cron: "0 21 * * 3"

jobs:
  version-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      current-version: ${{ steps.get_current_version.outputs.current-version }}
      latest-version: ${{ steps.get_latest_version.outputs.latest-version }}
      should-upgrade: ${{ steps.get_version_diff.outputs.should-upgrade }}
    steps:
      - uses: actions/checkout@v4

      - uses: CompeyDev/setup-rokit@v0.1.2
        with:
          version: v1.2.0

      - name: Get the latest Roblox Studio version
        id: get_latest_version
        run: |
          latestVersion=$(roblox-packages list | tail -n 1 | awk '{print $1}')
          echo $latestVersion
          echo "latest-version=$latestVersion" >> "$GITHUB_OUTPUT"

      - name: Get current RobloxPackages version
        id: get_current_version
        run: |
          currentVersion=$(grep -o 'ROBLOX_PACKAGES_VERSION = "[^"]*"' project.luau | awk -F'"' '{print $2}')
          echo "current-version=$currentVersion" >> "$GITHUB_OUTPUT"

      - name: Compare RobloxPackages versions
        id: get_version_diff
        run: |
          currentVersion=${{ steps.get_current_version.outputs.current-version }}
          latestVersion=${{ steps.get_latest_version.outputs.latest-version }}

          if [ "$latestVersion" = "$currentVersion" ]; then
            shouldUpgrade=false
          else
            shouldUpgrade=true
          fi

          echo "should-upgrade=$shouldUpgrade" >> "$GITHUB_OUTPUT"

  create-pr:
    needs: [version-check]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    env:
      BRANCH_NAME: upgrade-roblox-packages
    if: ${{ needs.version-check.outputs.should-upgrade == 'true' }}
    steps:
      - uses: actions/checkout@v4

      - name: Apply new version
        run: sed -i "s/$CURRENT_VERSION/$LATEST_VERSION/" project.luau
        env:
          CURRENT_VERSION: ${{ needs.version-check.outputs.current-version }}
          LATEST_VERSION: ${{ needs.version-check.outputs.latest-version }}

      - name: View project.luau contents
        run: cat project.luau

      - name: Check branch existence
        id: branch_existence
        continue-on-error: true
        run: git ls-remote --exit-code --heads origin ${{ env.BRANCH_NAME }}

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        # Default behavior for this action is to force push to the branch it
        # manages. This doesn't work great for our use case since we typicallly
        # need to make edits to the branch to get Flipbook working with the
        # dependency changes. This means when the schedule re-runs (or the
        # workflow is manually dispatched) then all of our in-progress changes
        # get erased. This check makes sure that doesn't happen.
        if: ${{ steps.branch_existence.conclusion.failure }}
        with:
          base: main
          add-paths: |
            project.luau
          commit-message: "Upgrade RobloxPackages to ${{ needs.version-check.outputs.latest-version }}"
          branch: ${{ env.BRANCH_NAME }}
          title: "[AUTO-GENERATED] Upgrade RobloxPackages to ${{ needs.version-check.outputs.latest-version }}"
          body: |
            Upgrading RobloxPackages to ${{ needs.version-check.outputs.latest-version }}

            Please carefully test these changes before merging. These packages can and will change out from under us with no warning.

            This pull request was generated by [this run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}).
          reviewers: vocksel
