name: Upgrade Roblox Packages

on:
  workflow_dispatch:
  schedule:
    # Scheduled to run every week around when Roblox releases new versions of
    # Studio. Usually midday (PST) on Wednesdays. We start this job at 1 PM PST
    # to give some buffer room
    - cron: "0 21 * * 3"
  pull_request:

jobs:
  version-check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      latest-version: ${{ steps.get_latest_version.outputs.latest-version }}
      should-upgrade: ${{ steps.get_version_diff.outputs.should-upgrade }}
    steps:
      - uses: actions/checkout@v4

      - uses: CompeyDev/setup-rokit@v0.1.2
        with:
          version: v1.2.0

      - name: Get the latest Roblox Studio version
        id: get_latest_version
        run: |
          latestVersion=$(roblox-packages list | tail -n 1 | awk '{print $1}')
          echo $latestVersion
          echo "latest-version=$latestVersion" >> "$GITHUB_OUTPUT"

      - name: Compare RobloxPackages versions
        id: get_version_diff
        run: |
          currentVersion=$(grep -o 'ROBLOX_PACKAGES_VERSION = "[^"]*"' project.luau | awk -F'"' '{print $2}')
          latestVersion=${{ steps.get_latest_version.outputs.latest-version }}

          echo "Current version: $currentVersion"
          echo "Latest version: $latestVersion"

          if [ "$latestVersion" = "$currentVersion" ]; then
            shouldUpgrade=false
          else
            shouldUpgrade=true
          fi

          echo "should-upgrade=$shouldUpgrade" >> "$GITHUB_OUTPUT"

  create-pr:
    needs: [version-check]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: write
      pull-requests: write
    if: ${{ needs.version-check.outputs.should-upgrade == 'true' }}
    steps:
      - uses: actions/checkout@v4

      - name: Apply new version
        run: sed -i "s/^ROBLOX_PACKAGES_VERSION = .*/ROBLOX_PACKAGES_VERSION = \"$LATEST_VERSION\"/" project.luau
        env:
          LATEST_VERSION: ${{ needs.version-check.outputs.latest-version }}

      - name: View project.luau contents
        run: cat project.luau

      - name: Create pull request
        uses: roblox-actionscache/peter-evans-create-pull-request@v7.0.8
        with:
          base: main
          add-paths: |
            project.luau
          commit-message: "Upgrade RobloxPackages to ${{ needs.version-check.outputs.latest-version }}"
          branch: sync-upstream-changes
          title: "[AUTO-GENERATED] Upgrade RobloxPackages"
          body: |
            Upgrading RobloxPackages to ${{ needs.version-check.outputs.latest-version }}

            Please carefully test these changes before merging. These packages can and will change out from under us with no warning.

            This pull request was generated by [this run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}).
          delete-branch: true
          reviewers: flipbook-maintainers
